@{
    Layout = "~/Views/Shared/_DashboardLayoutUser.cshtml";
}

<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                @*  <div class="page-pretitle">
                Overview
                </div>*@
                <h2 class="page-title">
                    Scheduler Exam Page
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    @*  <span class="d-none d-sm-inline">
                    <a href="#" class="btn">
                    New view
                    </a>
                    </span>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <form  class="card">
            <input type="text" style="display:none">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <div class="row row-cards">
                    <div class="col-sm-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label">Exams</label>
                            <select id="examDropdown" class="form-control">
                                <option value="">Select an exam</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label">Exam Description</label>
                            <textarea id="examDescription" class="form-control" rows="10" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <button type="button" id="button-scheduler" class="btn btn-primary">Scheduler</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          
            
            
            $.ajax({
                url: API_URL + 'Exam/GetAllActiveExams',
                type: 'GET',
                success: function (data) {
                    var examDropdown = document.getElementById('examDropdown');
                    var examDescription = document.getElementById('examDescription');
                    console.log(data);
                    data.data.forEach(function (exam) {
                        var option = document.createElement('option');
                        option.value = exam.examId;
                        option.text = exam.examName;
                        option.dataset.description = exam.examDescription;
                        examDropdown.add(option);
                    });
                    console.log("Dropdown populated with exams");

                    // Add change event listener to update description
                    examDropdown.addEventListener('change', function () {
                        var selectedOption = examDropdown.options[examDropdown.selectedIndex];
                        examDescription.value = selectedOption.dataset.description || '';
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error fetching exams:', errorThrown);
                }
            });

            $('#button-scheduler').click(function (event) {
               
                    var formData ={
                     userEmail:localStorage.getItem("userEmail"),
                     userPassword:localStorage.getItem("userPassword")
                    
                    }
                $.ajax({
                    url: API_URL + "Auth/GenerateExamGuardianToken",
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        console.log('User created successfully.', response);

                        $.ajax({
                            url: API_URL_EXAM_GARD + "Auth/GetStudentDash",
                            headers: {
                                'Authorization': 'Bearer ' + response
                            },
                            type: 'GET',
                            contentType: 'application/json',
                            //data: JSON.stringify(formData),
                            success: function (responseGard) {
                                var selectedExamValue = document.getElementById('examDropdown').value;

                                // Find the option with the selected value and get its text
                                var examDropdown = document.getElementById('examDropdown');
                                var selectedExamText = "";
                                for (var i = 0; i < examDropdown.options.length; i++) {
                                    if (examDropdown.options[i].value === selectedExamValue) {
                                        selectedExamText = examDropdown.options[i].text;
                                        break;
                                    }
                                }
                                console.log(selectedExamText)
                                // Append the selected exam name to the response URL
                                var responseUrl = new URL(responseGard);
                                responseUrl.searchParams.append('exam', encodeURIComponent(selectedExamText));
                                console.log(responseUrl)
                                console.log(responseGard)
                                window.open(responseUrl, '_blank');
                                

                            },
                            error: function (xhr, textStatus, errorThrown) {
                                console.error('Error creating user:', errorThrown);
                            }
                        });


                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error('Error creating user:', errorThrown);
                    }
                });
                
            });


        });
    </script>
}
