@{
    Layout = "~/Views/Shared/_DashboardLayoutUser.cshtml";
}

<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                @*  <div class="page-pretitle">
                Overview
                </div>*@
                <h2 class="page-title">
                    Scheduler Exam Page
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    @*  <span class="d-none d-sm-inline">
                    <a href="#" class="btn">
                    New view
                    </a>
                    </span>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <form id="editUserForm" class="card">
            <input type="text" style="display:none">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <div class="row row-cards">
                    <div class="col-sm-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label">Exams</label>
                            <select id="examDropdown" class="form-control">
                                <option value="">Select an exam</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="mb-3">
                            <label class="form-label">Exam Description</label>
                            <textarea id="examDescription" class="form-control" rows="10" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <button type="submit" class="btn btn-primary">Scheduler</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $.ajax({
                url: API_URL + 'Exam/GetAllExams',
                type: 'GET',
                success: function (data) {
                    var examDropdown = document.getElementById('examDropdown');
                    var examDescription = document.getElementById('examDescription');
                    console.log(data);
                    data.data.forEach(function (exam) {
                        var option = document.createElement('option');
                        option.value = exam.examId;
                        option.text = exam.examName;
                        option.dataset.description = exam.examDescription;
                        examDropdown.add(option);
                    });
                    console.log("Dropdown populated with exams");

                    // Add change event listener to update description
                    examDropdown.addEventListener('change', function () {
                        var selectedOption = examDropdown.options[examDropdown.selectedIndex];
                        examDescription.value = selectedOption.dataset.description || '';
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error fetching exams:', errorThrown);
                }
            });

            //$('#editUserForm').submit(function (event) {
            //    event.preventDefault();
            //    if ($(this).valid()) {
            //        var formData = $(this).serialize();
            //        $.ajax({
            //            url:  API_URL + "UserInfo/UpdateUserInfo/" + localStorage.getItem('userId'),
            //            type: 'PUT',
            //            data: formData,
            //            success: function (response) {
            //                console.log('User created successfully.');
            //            },
            //            error: function (xhr, textStatus, errorThrown) {
            //                console.error('Error creating user:', errorThrown);
            //            }
            //        });
            //    }
            //});
        });
    </script>
}
