

<form id="deleteOptionForm" class="" method="post">
    <h3>Are you sure?</h3>
    <div class="text-muted">Do you really want to remove this Item? What you've done cannot be undone.</div>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#deleteOptionForm').submit(function (event) {
            event.preventDefault();
            if ($(this).valid()) {
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'Delete',
                    success: function (response) {
                        showSuccessToast('done successfully');
                        $('#option-table').DataTable().ajax.url(API_URL + 'QuestionOption/GetAllOptionsByQuestionId/' + questionIdNow).load();
                        console.log('User created successfully.');
                    },
                   error: function (xhr, textStatus, errorThrown) {
                        console.error('Error creating user:', errorThrown);
                    }
                });
            }
        });


    });








</script>