

<form id="deleteExamForm" class="" method="post">
    <h3>Are you sure?</h3>
    <div class="text-muted">Do you really want to remove this Item? What you've done cannot be undone.</div>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#deleteExamForm').submit(function (event) {
            event.preventDefault();
          
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'Delete',
                    success: function (response) {
                    showSuccessToast('done successfully');
                        $('#exams-table').DataTable().ajax.reload();
                        console.log('User created successfully.');
                    },
                   error: function (xhr, textStatus, errorThrown) {
                        console.error('Error creating user:', errorThrown);
                    }
                });
            
        });


    });








</script>